<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.vida.mapper.CrewMapper">
  	<insert id="signup">
  		insert into crew
		values (CREW_NO_SEQ.nextval, #{crew_Id}, #{crew_Pw},
		#{crew_Name},#{crew_Email},#{crew_Phone},#{grade},#{crew_Gender}
		#{crew_Point}) 
	
  	</insert>
  </mapper>