@charset "UTF-8";
body{
    margin: 0 auto;
}
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 640px;
    padding: 0 10px 6px 10px;
}
#find_id_form{
    letter-spacing: 0;
    width: 400px;
}
#find_id_form > h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 36px;
}
#find_id_form > h2{
    text-align: center;
    font-size: 20px;
    color: #006f00;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.find_container{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 18px;
}
.find_container > label{
    padding: 18px 2px;
}

.find_id_border{
    position: relative;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.find_id_border > input{
    width: 90%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
}
.find_id_border > input::placeholder{
    color:#ddd
}
.findidBtn{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 58px;
    border-radius: 4px;
    color: #fff;
    background-color: #006f00;
    border: 0 none;
    font-size: 16px;
}
.findidBtn[disabled] {
    cursor: default;
    background-color: #8bbb8b;
}
.find_id_border > input:focus{
    outline: 2px solid #1b1a1a;
}
.findidBtn:hover{
    cursor: pointer;
}
.findidBtn[disabled]:hover{
    cursor: default;
}
.find_id__num_border{
	display : flex;
	width : 100%;
    height: 48px;
    margin-top : 20px;
}
.find_id_num_input{
	border-radius: 4px;
    border: 1px solid #ddd;
	width: 85%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color : #ebebe4;
    color: #333;
    outline: none;
    margin-right : 3px;
}

.find_id_num_button{
	
	width : 68px;
	height : 46px;
	color : white;
	background-color : #00a3bf;
	border-radius: 14px;
	font-weight : 800;
	font-size: 18px;
}
.find_id_num_button:hover{
	cursor:pointer;
	color: white;
	background-color : #0080ff;
}
#modal{
    display:none;
    position:fixed; 
    width:100%; height:100%;
    top:0; left:0; 
    background:rgba(0,0,0,0.3); 
}

.modal1{
	display:none;
    position:fixed;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    background:#fff;
    border-radius: 20px;
    padding: 30px;
  }
.modal2{
	display:none;
    position:fixed;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    background:#fff;
    border-radius: 20px;
    padding: 30px;
}
.crew_id_show{
	display : none;
}
.modal_content > h2{
	text-align : center;
}
.modal_content{
	display : flex;
	flex-direction : column;
}
.close{
    display:block;
    position:absolute;
    width:40px; height:40px;
    border-radius:50%; 
    text-align:center; line-height: 30px;
    text-decoration:none;
    color:#666; font-size:26px; font-weight: bold;
    right:20px; top:20px;
  }
  .input_number{
   	width: 80%;
    height: 36px;
    padding: 0 11px 1px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
  }
  .crew_id_show{
  	width: 80%;
    height: 36px;
    padding: 0 11px 1px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
  }
  .modal_confirm{
  	display: block;
    width: 100%;
    height: 57px;
    border: 0;
    border-top: 1px solid #f7f7f7;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    color: #006f00;
    line-height: 32px;
    letter-spacing: 0;
  }
.modal_footer{
	position: fixed;
    bottom: 0;
    width: 85%;
    text-align: center;
}
.find_id_num_label{
	margin-left : 150px;
	text-align : center;
	font-weight: 800;
    font-size: 18px;
 	padding: 18px 2px;
}
.modal2 > h2{
	text-align : center;
}