@charset "UTF-8";

:root {
  --my-color: #006f00;
  --base-color: #efefef;
  --font-color: dimgray;
}

* {
  padding: 0;
  margin: 0;
}

.goodsQnaDetailnBox {
  width: 800px;
  margin: 30px auto;
}

.pageTitle {
  padding: 30px;
}

.qnaTableAdmin {
  width: 100%;
  border-collapse: collapse;
}

.qnaTableAdmin th {
  border-top: 2px solid var(--my-color);
  border-bottom: 2px solid var(--base-color);
  padding: 10px;
}

.qnaTableAdmin td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--base-color);
}

#goodsQnaTitle {
  font-weight: bold;
  text-align: left;
  padding: 30px 10px;
}

#goodsQnaContents {
  text-align: left;
  padding: 20px 10px;
}

#goodsQnaTitle img {
  width: 30px;
  height: 30px;
  padding: 0 10px;
}

.answer img {
  width: 30px;
  height: 30px;
  display: block;
  padding: 30px;
}

.answer textarea {
  width: 100%;
}

.buttonSection {
  padding: 50px;
  text-align: end;
}

.buttonSection input[type="button"],
input[type="submit"] {
  width: 120px;
  height: 50px;
  background-color: var(--my-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
