@charset "UTF-8";
.sidebar{
            width: 80px;
            position: absolute;
            top: 500px;
            right: 20px;
            font-size: 12px;
            letter-spacing: -0.3px;
        }
        .sidebar .side_menu{
            border: 1px solid #ddd;
            background-color: #fff;
            border-top: 0 none;
        }
        .sidebar .side_menu a{
            display: block;
            padding-top: 5px;
            height: 25px;
            text-align: center;
            text-decoration: none;
            color: inherit;
            border-top: 1px solid #ddd;
        }
        .sidebar .side_menu a:hover{
            color: #006f00;
        }
        .sidebar .side_recent{
            position: relative;
            margin-top: 6px;
            border: 1px solid #ddd;
            background-color: #fff;
            text-align: center;
        }
        .sidebar .side_recent .list_goods{
            height: 200px;
            overflow: hidden;
            position: relative;
            width: 60px;
            margin: 0 auto;
        }