<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="main" class="kr.co.vida.control.MainController"></bean>
<bean id="login" class="kr.co.vida.control.CrewController"></bean>

<bean id="dao" class="kr.co.vida.dao.CrewDAO"></bean>


</beans>
