<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.vida.img">
  	<select id="getGoodsImgs" parameterType="int" resultType="imgDto" >
  		SELECT img_no, goods_no, img_name, img_status
  		FROM image
  		WHERE goods_no = #{goods_no}
  		ORDER BY img_status asc
  	</select>
  	<select id="readAll" parameterType="se" resultType="imgDto">
  	SELECT img_no, goods_no, img_name, img_status, qty,
  				goods_name, goods_price, discount_rate, 
  				stock, package_type, origin, goods_info, 
  				sub_cat_code, project_status, sales_amt, add_date
	FROM (SELECT ROWNUM rn, img_no, goods_no, img_name, img_status, qty,
			  				goods_name, goods_price, discount_rate, 
			  				stock, package_type, origin, goods_info, 
			  				sub_cat_code, project_status, sales_amt, add_date
			FROM (SELECT i.img_no, i.goods_no, i.img_name, i.img_status, g.qty,
			  				g.goods_name, g.goods_price, g.discount_rate, 
			  				g.stock, g.package_type, g.origin, g.goods_info, 
			  				g.sub_cat_code, g.project_status, g.sales_amt, g.add_date
			  		FROM image i, goods g, sub_category s
			  		WHERE i.goods_no = g.goods_no
			  		AND g.sub_cat_code = s.sub_cat_code
			  		AND i.img_status = 0
			  		<choose>
				  		<when test="code%100==0">
					  		AND s.main_cat_code = #{code} 
					  	</when> 	
				  		<when test="code%100!=0">
					  		AND s.sub_cat_code = #{code} 
				  		</when>
	  				</choose>
	  				<if test="orderBy =='date'">
	  					ORDER BY g.add_date desc
	  				</if>
	  				<if test="orderBy =='sell'">
	  					ORDER BY g.sales_amt desc
	  				</if>
	  				<if test="orderBy =='lowprice'">
	  					ORDER BY g.goods_price*(1-g.discount_rate/100) asc
	  				</if>
	  				<if test="orderBy =='hiprice'">
	  					ORDER BY g.goods_price*(1-g.discount_rate/100) desc
	  				</if>
	  				)
			WHERE ROWNUM &lt;=#{endNo} )
	WHERE rn &gt;=#{startNo}
  	</select>
  	<select id="getTotalbyCode" resultType="int" parameterType="int">
  		SELECT count(*)
  		<choose>
			<when test="_parameter%100==0">
				FROM (SELECT i.img_no, i.goods_no, i.img_name, i.img_status, g.qty,
		  				g.goods_name, g.goods_price, g.discount_rate, 
		  				g.stock, g.package_type, g.origin, g.goods_info, 
		  				g.sub_cat_code, g.project_status, g.sales_amt
		  			FROM image i, goods g, sub_category s
		  			WHERE i.goods_no = g.goods_no
		  			AND g.sub_cat_code = s.sub_cat_code
		  			AND i.img_status = 0
		  			AND s.main_cat_code = #{main_cat_code})
			</when> 	
			<when test="_parameter%100!=0">
				FROM (SELECT i.img_no, i.goods_no, i.img_name, i.img_status, g.qty,
			  				g.goods_name, g.goods_price, g.discount_rate, 
			  				g.stock, g.package_type, g.origin, g.goods_info, 
			  				g.sub_cat_code, g.project_status
			  			FROM image i, goods g 
			  			WHERE i.goods_no = g.goods_no
						AND i.img_status=0 
						AND i.goods_no IN (SELECT g.goods_no 
									FROM goods g
									WHERE sub_cat_code = #{g.sub_cat_code, jdbcType=VARCHAR}))
			</when>
	  	</choose>
  	</select>
  	<insert id="insertImgOne" parameterType="imgDto">
  		INSERT INTO image VALUES (img_no_seq.nextval , #{goods_no} , #{img_name} , #{img_status} )
  	</insert>
  	
  	<delete id="deleteOne" parameterType="int">
  		DELETE image
  		WHERE img_no = #{img_no}
  	</delete>
  	
  </mapper>