<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.vida.mapper.CrewMapper">
  	<insert id="insertcrew" parameterType="crdto">
  		insert into crew
  		(
  			crew_no,crew_id,crew_pw,
  			crew_name,crew_email,crew_phone,
  			grade,crew_gender,crew_point
  		)
		values (
		#{crew_no_seq},#{crew_id},#{crew_pw},
		#{crew_name},#{crew_email},#{crew_phone},
		#{grade},#{crew_gender},#{crew_point}
		) 
	</insert>
	<select id="logincheck" resultType="String">
		select crew_no
  		from crew
  		where crew_id = #{crew_id} and crew_pw = #{crew_pw} 				
	</select>

  </mapper>